
::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
    background-color: #fff;
    margin: 40px;
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
}
a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}
h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}
code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}
#body{
    margin: 0 15px 0 15px;
}
p.footer{
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}
div.container{
    margin: 10px;
    -webkit-box-shadow: 0 0 8px #D0D0D0;
}


/* ***** GENERAL ***** */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.hide{
    display: none;
}

/* ***** CONTAINER ***** */
div.container{
    margin: 0;
    padding: 0;
    position: relative;
}


/* ***** HEADER ***** */
header{
    background-color: aliceblue;
    color: #003cb3;
    height: 30px;
}
header > nav > ul{
    list-style-type: none;
    padding-left: 50px;
}
header > nav > ul > li{
    line-height: 30px;
    display: inline-block;
    width: 150px;

}
header > nav > ul > li > a{
    text-decoration: none;
    text-transform: uppercase;
}
header > nav > ul > li > a:hover{
    font-weight: bolder;
}

/* ***** WELCOME ***** */
div.welcome{
    width: 50%;
    text-align: center;
    border: 2px lightgrey solid;
    border-radius: 10px;
    padding: 30px;
    margin: 100px auto;
}

/* ***** LOGIN ***** */
div.login{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 10px;
}
div.login input{
    display: block;
    vertical-align: top;
}
div.login h3{
    margin: 15px 0;
    text-transform: uppercase;
}

/* ***** USER_LOGIN  / USER_INSCRIPTION ***** */
div.user_login, div.user_inscription{
    width: 50%;
    text-align: center;
    margin: 50px auto;
    border: 2px lightgrey solid;
    border-radius: 10px;
}
div.user_login input, div.user_inscription input {
    margin: 5px 0;
}
div.user_login h3, div.user_inscription h3{
    margin: 15px 0;
    text-transform: uppercase;
}

/* ***** GOOD-BYE ***** */
div.good-bye{
    width: 50%;
    text-align: center;
    border: 2px lightgrey solid;
    border-radius: 10px;
    padding: 30px;
    margin: 100px auto;
}

/* *****  MENU ***** */
div.js-nav-bar{
    display: none;
    background-color: beige;
    padding : 10px 0 30px 100px;
    position:absolute;
    width: 93%;
    z-index: 5;
}
div.js-nav-bar a {
    text-decoration: none;
    color: slategrey;
    font-weight: bolder;
}
div.js-nav-bar a:hover {
    color: #000000;
}
div.js-parent{
    display: inline-block;
    vertical-align: top;
    margin: 0 50px;
    color: slategrey;
    margin-right: 100px;
}
div.js-parent h3:hover{
    color: #000000;
}
div.plus{
    display: inline-block;
    vertical-align: top;
}
div.plus > ul > li{
    list-style-type: none;
}

/* ****** PRODUCT ***** */
div.product{
    width: 80%;
    padding-left: 15px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
div.product p{
    list-style-type: none;
    margin: 10px 0;
}
div.product p a{
    text-decoration: none;
    color: dimgray;
}

/* ***** PRODUCT div.icon_porduct ***** */
div.icon_product{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin: 0 20px 20px;
    background-color: aliceblue;
}
div.icon_product img{
    margin: 0;
    width: 100px;
    height: 100px;
}
div.icon_product p{
    margin: 0;
    padding: 0;
}

/* ***** PRODUCT aside.search_product ***** */
aside.search_product{
    width: 15%;
    background-color: beige;
    border: none;
    min-height: 200px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
aside.search_product > form > fieldset{
    padding: 10px;
    border: none;
}
aside.search_product > form > fieldset > label{
    font-weight: bolder;
}
aside.search_product > form > fieldset > input{
    width:40%;
    background-color: aliceblue;
    border: none;
    text-align: center;
}
aside.search_product > form > fieldset > input#name{
    width:100%;
    background-color: aliceblue;
    border: none;
    text-align: center;
}
aside.search_product > form > fieldset > input#ref{
    width:100%;
    background-color: aliceblue;
    border: none;
    text-align: center;
}
aside.search_product > form > fieldset > input#owner{
    width:100%;
    background-color: aliceblue;
    border: none;
    text-align: center;
}
aside.search_product > form > fieldset > input#submit{
    display: none;
}

/* ***** PRODUCT div.product_details ***** */
div.product_details{
    width:80%;
    height: 50%;
    margin: 50px auto;
    border: 2px lightgrey solid;
    border-radius: 10px;
    position: relative;
}
div.product_details > aside{
    display: inline-block;
    vertical-align: top;
    width: 15%;
    min-height: 100%;
    background-color: beige;
    outline: 1px lightgrey solid;
    margin-right: 4%;
}
div.product_details > aside > a {
    text-decoration: none;
}

div.product_details > figure{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100%;
    outline: 1px lightgrey solid;
    margin: 0 auto;

}
div.product_details > figure > img{
    width: 100%;
}
div.product_details > div.details{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: 100%;
    outline: 1px lightgray solid;
}
div.product_details > div.description{
    display: block;
}

/* ***** PRODUCT div.product_cat ***** */
div.product_cat{
    margin: 0;
    padding: 0;
}


/* ***** ADD_PRODUCT **** */
div.add_product{
    width: 70%;
    text-align: center;
    margin: 50px auto;
    border: 2px lightgrey solid;
    border-radius: 10px;
}
div.add_product input{
    margin: 5px 0;
}
div.add_product h3{
    margin: 15px 0;
    text-transform: uppercase;
}


/* ***** CATEGORIES ***** */
p.js-list-category{
    margin: 0;
    padding: 0;
}












